.Image_container_animation2 {
  background-color: #FFEEDB;
  padding: 4rem 8%;
}

.Image_content_animation2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: center;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.Image1_animation2,
.Image3_animation2 {
  max-width: 30rem;
  height: auto;
  aspect-ratio: 30 / 26;
  overflow: hidden;
  opacity: 0;
  transition: all 0.8s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  .hover-text2 {
    position: absolute;
    bottom: 40%;
    top:30%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 10%;
    width: 100%;
    background-color: rgba(86, 125, 102, 0.8);
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-family: 'serif';
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    text-align: center;
    white-space: nowrap;
    
    @media (max-width: 768px) {
      padding: 0.6rem 1rem;
      max-width: 90%;
      bottom: 30%;
      white-space: normal;
  }
    @media (max-width: 480px) {
    bottom: 35%;
    padding: 0.5rem 1rem;
    white-space: normal;
    text-align: center;
    line-height: 1.2;
  }
  }

  &:hover .hover-text2 {
    opacity: 1;
  }
}



/* Image1 comes from left to right */
.Image1_animation2 {
  transform: translateX(-250px);

  &.show {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Image3 comes from right to left */
.Image3_animation2 {
  transform: translateX(250px);

  &.show {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Red border spacer between images */
.Image_spacer_animation {
  width: 100%;
  height: 100%;
  

  @media (max-width: 768px) {
    display: none;
  }
}
