.Schedule_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 8%;
  background-color: white;
  gap: 10rem;
  
  padding-left: 2rem;

  @media (max-width: 1024px) {
    gap: 5rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 2rem 5%;
    gap: 3rem;
  }
}

.Schedule_content {
  flex: 1;
  min-width: 300px;
  max-width: 600px;

  .Schedule_heading {
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #333;
    font-family: "Crimson Text", serif;

    @media (max-width: 768px) {
      text-align: center;
      font-size: 36px;
    }
  }

  .Schedule_step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;

    .Schedule_icon {
      width: 2.5rem;
      height: 2.5rem;
      background: #000;
      color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      margin-right: 1rem;
      margin-top: 20px;
    }

    .Schedule_text {
      h3 {
        margin: 0;
        margin-top: 20px;
        font-size: 2.5rem;
        font-family: "Crimson Text", serif;
        color: #000;
      }

      p {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        color: #444;
        font-family: 'Roboto',sans-serif;
      }
    }
  }

  .Schedule_button {
    background-color: #a51212;
    color: #FFEEDB;
    padding: 0.9rem 2rem;
    border: none;
    border-radius: 3rem;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 1rem;
    font-family: 'Roboto';
    // border: none;

    &:hover {
      background-color: #ee2525;
    }
  }
}

.Schedule_image {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  

  img {
    width: 37rem;
    height: 40rem;
    object-fit: cover;
    image-rendering: auto; /* Ensures smooth scaling */
    border-radius: 2rem;
  }

  @media (max-width: 768px) {
    img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }
}

