.footer {
  background-color: #0e0e0e;
  color: #ffffff;
  padding: 3rem 5%;

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .footer-section {
    flex: 1 1 220px;
    

    h3 {
      color: #ffffff;
      margin-bottom: 1rem;
      font-weight: bold;

    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.6rem;
        display: flex;
        align-items: center;

        a {
          color: #ffffff;
          text-decoration: none;

          &:hover {
            color: #e63946;
          }
        }

        .icon {
          color: #e63946;
          margin-right: 0.5rem;
          font-size: 1.5rem;
        }
      }

      .indent {
        margin-left: 1.8rem;
      }
    }

    p {
      margin-bottom: 0.5rem;
    }
  }

  .footer-left {
    flex: 1 1 300px;
    width: 8rem;
    

    .footer-logo {
      max-width: 80px;
      margin-bottom: 0.8rem;
      
    }

    .footer-brand {
      font-size: 1.4rem;
      font-weight: bold;
      color: #fff;
     
      font-family: 'Bonita', sans-serif;
      span {
        color: #e63946;
        // margin-left: 13rem;
        font-family: 'Bonita', sans-serif;
      }
    }

    .footer-tagline {
      color: #1e90ff;
      font-size: 0.95rem;
      margin-bottom: 1rem;
     
    }

    .social-icons {
      display: flex;
      gap: 1rem;
      gap: 1.5rem;
      a {
        color: #FFEEDB;
        font-size: 1.2rem;
        

        &:hover {
          color: #e63946;
        }
      }
    }
  }
}

.houseofmarktech{
  text-decoration: none;
  color: white;
  
  &:hover{
    color: #e63946;
    text-decoration: underline;
    transition: 0.2s ease;
  }

}

.footer-bottom {
  // border: 2px solid #e63946;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  .line{
  width: 30%;
  height: 1px;
  background-color: #645f5f;
  margin: 1rem 0;
  // margin-left: 50rem;
}
}


@media screen and (max-width: 486px) {
  .footer-bottom{
    p{
      font-size: 0.9rem !important;

      a{
        font-size: 0.9rem !important;
      }
    }
  }
}