@use '../../../components/ui/variables/Variable.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Indie+Flower&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.service_container {
    width: 100%;
    color: white;
    color: $cream;
    background-color: $dark_cover_color;
    position: absolute;

}

.service_page_heading {
    @include flexcenter;
    // border: 2px solid white;
    height: 6rem;
    margin-top: 4rem;

    h1 {
        color: $cream;
        font-family: "Crimson Text", serif;
        font-size: 3.25rem;
        letter-spacing: 6%;
    }

    // background-color: $dark_cover_color;


}

.service_design_details_sections {
    // border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    height: 20rem;
    padding: 1rem 5%;
    // background-color: $dark_cover_color;

    .display_section {
        // border: 2px solid yellow;
        max-width: 18rem;
        height: 7rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $cream;
        justify-content: space-between;

        h2 {
            font-family: 'Bonita', sans-serif;
            font-size: 2.4rem;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1.3rem;
        }
    }
}